@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh; */
  font-family: "Open Sans", sans-serif;
}

/* @media screen and (min-width: 576px) {
  .my-custom-class {
    display: none;
  }
} */
@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
    /* transform: translateX(-100%);
    transition: transform 0.3s ease-in-out; */
  }
  /* .context {
    width: calc(100% - 240px);
  } */
}
